.Lista-usuario {
    width: 200%;
}

.col-60 {
    width: 400%;
}

.col-40 {
    width: 130%;
    padding-left: 0.5rem;
    margin-top: 2rem;
}

th,
td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
}

#btnModificar,
#btnEliminar {
    border-radius: 10px;
    background: #90b22e;
    color: #fff;
    box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 40%);
    border: none;
    font-size: 1.13rem;
    margin-block-end: 1.75rem;
    margin-right: 1rem;
}