.cabeceraSeccion {
    display: flex;
    padding-bottom: 5rem;
}

.iconoCabecera {
    font-size: 4rem;
    padding-right: 1rem;
}

.indicadorRegistro {
    padding-top: 2rem;
    font-size: 1.3rem;
}

.iniciarSesion {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 1.3rem;
    padding-top: 1rem;
}

.iniciarSesion a {
    padding-right: 1.5rem;
    color: #000;
    padding-top: 2rem;
}

.sctFormulario form {
    display: flex;
    width: 100%;
}


.espacioRegistro {
    padding: 2rem;
}

ul.texto-ayuda {
    display: block;
    margin-top: 2rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
    color:red;
    

}
ul.texto-ayuda li.validado {
    color: blue;
}


.btnEnviarCodigo {
    margin-top: 2.2rem;
    padding: 0.7rem;
    font-size: 1rem;
    color: #fff;
    background: rgb(43,203,234);
    background: linear-gradient(97deg, rgba(43,203,234,1) 51%, rgba(57,188,240,1) 100%);
    border-radius: 0.3rem;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px #006675d1;
    border: 0;
    cursor: pointer;

    -webkit-transition: all 0.3s 0s  ease;
    -moz-transition: all 0.3s 0s  ease;
    -o-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s  ease;
}

.btnEnviarCodigo:hover {
    box-shadow: 0 25px 20px 0px rgb(0 0 0 / 20%), 0 7px 10px -5px #006675d1;
}