.sct {
    padding: 5rem 14em;
    margin: auto;
}

.portada {
    padding-top: 4rem;
    width: 35%;
}
.metadatos {
    width: 65%;
    padding-top: 4rem;
}

.metadatos div {
    padding-bottom: 2rem;
}

.actions button {
    width: calc(100% - 2rem);
    height: 2.5rem;
    font-size: 1rem;
    background: #008576;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px #006675d1;
}

.actions button a {
    width: calc(100% - 2rem);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.metadatos h2, .metadatos p {
    display: inline-block;
}
.metadatos p {
    display: inline-block;
}
.metadatos p {
    font-size: 1.2rem;
    margin-left: 1rem;
}
.precio p {
    margin-left: 0 !important;
    color: red;
    font-weight: 800 !important;
    font-size: 1.4rem !important;
}

.review h2 {
    padding-bottom: 1rem;
}
.review p {
    font-size: 1.2rem;
}

.portada img{
    width: 21rem;
    height: 24.5rem;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
}